.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  z-index: 10;
}
#stage-overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay h1 {
  margin-bottom: 20px;
  font-size: 5rem;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttons button {
  flex: 1;
  padding: 30px;
  height: 150px;
  font-size: 5rem;
  background: #444;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent; /* 투명한 테두리 기본값 */
  transition: border-color 0.2s ease-in;
}
.buttons small {
  display: block;
  font-size: 1.5rem;
  margin-top: 4px;
  color: #ccc;
  margin-top: 10px;
  margin-left: 5px;
}
.buttons button:hover {
  border-color: #fff;
}
#logo-overlay {
  display: flex;
  background: #000;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
#logo-overlay img {
  flex: 1;
  width: 100%;
  height: 100%;
  animation: fadeInOut 1s ease-in-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#control-panel {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: sans-serif;
  z-index: 20;
}
#control-panel .panel-row {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#control-panel button {
  background: #555;
  border: none;
  padding: 4px 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in;
}
#control-panel button:hover {
  background: #777;
}
#panel-stage-buttons {
  display: flex;
  gap: 4px;
}
#panel-stage-buttons .stage-btn.selected,
#panel-stage-buttons .stage-btn:disabled {
  background: #0a84ff;
  opacity: 0.8;
  cursor: not-allowed;
}
